.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__e6Zxy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__pMcol {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.columns__qgD {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns__qgD > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.columns__qgD > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 50px) * 2 / 12);
}
.columns__qgD > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 50px) * 10 / 12);
}
.columns__qgD > :global(.__wab_flex-container) > *,
.columns__qgD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qgD > :global(.__wab_flex-container) > picture > img,
.columns__qgD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qgD {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qgD > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qgD > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
.column__wToQl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__l1Rrx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__l1Rrx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__l1Rrx > :global(.__wab_flex-container) > *,
.freeBox__l1Rrx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l1Rrx > :global(.__wab_flex-container) > picture > img,
.freeBox__l1Rrx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__cJdKx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fBEnT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.select__daTXy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.text__s4MQh {
  width: auto;
}
.option___4Vdfh:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.text___6MXs7 {
  height: auto;
}
.option__zh7H9:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.text__jne8D {
  height: auto;
}
.option__bao8Q:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.text___3Oorw {
  height: auto;
}
.option___29Nu:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.text__yn7X6 {
  height: auto;
}
.select__zYKuY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.text__vuwil {
  width: auto;
}
.option__kuocg:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.checkbox__ip3Gl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__yiHaR:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.checkbox___6FhIn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__eHibd {
  width: auto;
}
.select__kf89A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.text__zwmbr {
  width: auto;
}
.option__nhRy9:global(.__wab_instance) {
  position: relative;
}
.option__l4IHj:global(.__wab_instance) {
  position: relative;
}
.select__vrxq5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.text___49MMx {
  width: auto;
}
.option__fVchY:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.svg___7PjcC {
  position: sticky;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__mEcRm {
  height: auto;
}
.option__zh7H9:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.svg__eOoOo {
  position: sticky;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__mEcRm {
  height: auto;
}
.option__bao8Q:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.svg__cVnhi {
  position: sticky;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__mEcRm {
  height: auto;
}
.select__y0Mk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.text__lnV5D {
  width: auto;
}
.option__opZ29:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.text__xoGrL {
  height: auto;
}
.option__zh7H9:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.text__b6XvD {
  height: auto;
  padding-right: 0px;
}
.option__bao8Q:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.text___8EkFo {
  height: auto;
}
.select__ms1Ls:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.text__r0Vbf {
  width: auto;
}
.option___6Uw0O:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.checkbox__e8IH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__yiHaR:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.checkbox___7Nuxd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__zy4Vf {
  width: auto;
}
.option__ccrwV:global(.__wab_instance) {
  position: relative;
  width: 225px;
}
.checkbox__guuOk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__ndNn4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__rBhg2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__xUdh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__xUdh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__xUdh > :global(.__wab_flex-container) > *,
.freeBox__xUdh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xUdh > :global(.__wab_flex-container) > picture > img,
.freeBox__xUdh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.columns__kc63G {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__kc63G > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__kc63G > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kc63G {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kc63G > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__voPp4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__voPp4 {
    justify-content: flex-start;
    align-items: center;
  }
}
.text__fkW9B {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column__dnZjn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__y9AlC {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__y9AlC > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__y9AlC > :global(.__wab_flex-container) > *,
.freeBox__y9AlC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y9AlC > :global(.__wab_flex-container) > picture > img,
.freeBox__y9AlC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y9AlC {
    width: auto;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y9AlC > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
.select__qoBh1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .select__qoBh1:global(.__wab_instance) {
    width: 120px;
    flex-shrink: 0;
  }
}
.option__aiQ8:global(.__wab_instance) {
  position: relative;
  width: 250px;
}
.option__liVcv:global(.__wab_instance) {
  position: relative;
}
.select__fcrCm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .select__fcrCm:global(.__wab_instance) {
    width: 120px;
    flex-shrink: 0;
  }
}
.option___3Fbfr:global(.__wab_instance) {
  position: relative;
  width: 250px;
}
.option__tUpvm:global(.__wab_instance) {
  position: relative;
  width: 250px;
}
.option___21CDs:global(.__wab_instance) {
  position: relative;
  width: 250px;
}
.option__jnn4E:global(.__wab_instance) {
  position: relative;
  width: 250px;
}
.option___6Pw7O:global(.__wab_instance) {
  position: relative;
  width: 250px;
}
.option__we07D:global(.__wab_instance) {
  position: relative;
  width: 250px;
}
.option___2VsE:global(.__wab_instance) {
  position: relative;
}
.option__pUUr:global(.__wab_instance) {
  position: relative;
}
.option___3EnGw:global(.__wab_instance) {
  position: relative;
}
.freeBox__xfyjO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.columns__csZws {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__csZws > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__csZws > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__csZws > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__csZws > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__csZws {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__csZws > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eaI9V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.img__dZp0H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.img__dZp0H > picture > img {
  object-fit: cover;
}
.img__dZp0H > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lQ8Vs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__tk6WM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__zwXoj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text___2LjQl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__hYuoz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__r3Mnd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__mnCqD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice1 {
  text-align: right;
}
.freeBox__caLvH {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__caLvH > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__caLvH > :global(.__wab_flex-container) > *,
.freeBox__caLvH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__caLvH > :global(.__wab_flex-container) > picture > img,
.freeBox__caLvH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__g1XIu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  width: 1em;
  flex-shrink: 0;
}
.svg__vBgPr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__wxZB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column__xDcDe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.img__b4QOs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.img__b4QOs > picture > img {
  object-fit: cover;
}
.img__b4QOs > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__oRcqX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__af2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___3Huto {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__t0S7N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__tnIr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jTPnE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__fSs5Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice2 {
  text-align: right;
}
.freeBox__pyFhh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pyFhh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__pyFhh > :global(.__wab_flex-container) > *,
.freeBox__pyFhh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pyFhh > :global(.__wab_flex-container) > picture > img,
.freeBox__pyFhh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__bvoEd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__rLpnc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__uVg9T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column___69Let {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.img__hFDma {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.img__hFDma > picture > img {
  object-fit: cover;
}
.img__hFDma > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__r0NT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eIAi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__k4Ug2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__bvZTa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox___2XjAt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mdPsa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__ud9Nz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice3 {
  text-align: right;
}
.freeBox___4WcWe {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___4WcWe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___4WcWe > :global(.__wab_flex-container) > *,
.freeBox___4WcWe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4WcWe > :global(.__wab_flex-container) > picture > img,
.freeBox___4WcWe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__miMQk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__miMQk {
    align-self: center;
    margin-right: 250px;
    margin-left: calc(0px + 10px) !important;
  }
}
.svg__p32TF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__oAzxF {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column___4XbJf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.nft4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.nft4 > picture > img {
  object-fit: cover;
}
.nft4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___6X0Ig {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xlMk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__wdhCe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__ckgUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox___7LPan {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__g1HOi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__ukyfj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice4 {
  text-align: right;
}
.freeBox__tbUzZ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tbUzZ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__tbUzZ > :global(.__wab_flex-container) > *,
.freeBox__tbUzZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tbUzZ > :global(.__wab_flex-container) > picture > img,
.freeBox__tbUzZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__onnOv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__onnOv {
    margin-right: 250px;
    margin-left: calc(0px + 10px) !important;
  }
}
.svg__jqWdg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__bzDxp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.columns__gXwzO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__gXwzO > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__gXwzO > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__gXwzO > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__gXwzO > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gXwzO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gXwzO > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___3WHlX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.nft5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.nft5 > picture > img {
  object-fit: cover;
}
.nft5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___2CwU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__deCst {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__aSwdy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__i31Kz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__vKt76 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___27Ssl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__ols0J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice5 {
  text-align: right;
}
.freeBox__sn5T8 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sn5T8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__sn5T8 > :global(.__wab_flex-container) > *,
.freeBox__sn5T8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sn5T8 > :global(.__wab_flex-container) > picture > img,
.freeBox__sn5T8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__vutD1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  width: 1em;
  flex-shrink: 0;
}
.svg__mRxxz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___83MW4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column___4HpD6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.nft6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.nft6 > picture > img {
  object-fit: cover;
}
.nft6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___0ExAh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1LlEp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__bSnmd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__ayhq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__vrmRk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zgqRx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__drM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice6 {
  text-align: right;
}
.freeBox__mNfto {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mNfto > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__mNfto > :global(.__wab_flex-container) > *,
.freeBox__mNfto > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mNfto > :global(.__wab_flex-container) > picture > img,
.freeBox__mNfto
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__vl2IR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__d75Uy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__aLxOt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column__dkFg7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.nft7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.nft7 > picture > img {
  object-fit: cover;
}
.nft7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__gcC3P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__u7T59 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__eram {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__m2Kks {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__v3OFy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nxMd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__d9Rh3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice7 {
  text-align: right;
}
.freeBox__gnZpx {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gnZpx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__gnZpx > :global(.__wab_flex-container) > *,
.freeBox__gnZpx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gnZpx > :global(.__wab_flex-container) > picture > img,
.freeBox__gnZpx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__bxL2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bxL2 {
    align-self: center;
    margin-right: 250px;
    margin-left: calc(0px + 10px) !important;
  }
}
.svg__fLOtZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__nGBhp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column__aJuLd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.nft8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.nft8 > picture > img {
  object-fit: cover;
}
.nft8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__vgYmm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__s2C5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__mapYc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__ahurZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__sWqa3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__tDeg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox___9ZnUv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice8 {
  text-align: right;
}
.freeBox__f64K0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__f64K0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__f64K0 > :global(.__wab_flex-container) > *,
.freeBox__f64K0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f64K0 > :global(.__wab_flex-container) > picture > img,
.freeBox__f64K0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___5VnPs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___5VnPs {
    margin-right: 250px;
    margin-left: calc(0px + 10px) !important;
  }
}
.svg__ngwLa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__xvxHz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.columns__bsdq2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__bsdq2 > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__bsdq2 > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__bsdq2 > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__bsdq2 > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bsdq2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bsdq2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7Cm2Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.img__dddVx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.img__dddVx > picture > img {
  object-fit: cover;
}
.img__dddVx > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__fEput {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bxsrF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__oIRuh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__xsb3X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__d1CFd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xznxV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 8px;
}
.text__ceO4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 0;
}
.freeBox__lm0WU {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lm0WU > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lm0WU > :global(.__wab_flex-container) > *,
.freeBox__lm0WU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lm0WU > :global(.__wab_flex-container) > picture > img,
.freeBox__lm0WU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___2FXd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  width: 1em;
  flex-shrink: 0;
}
.svg__jbXGw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__x43Pq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column___5FSdc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.img__a3Nnx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.img__a3Nnx > picture > img {
  object-fit: cover;
}
.img__a3Nnx > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ytSf3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ueazZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___8Du8Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__eV6A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__ebGPt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__zSzZp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 8px;
}
.text__ew04A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 0;
}
.freeBox__x8Ij9 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__x8Ij9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__x8Ij9 > :global(.__wab_flex-container) > *,
.freeBox__x8Ij9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x8Ij9 > :global(.__wab_flex-container) > picture > img,
.freeBox__x8Ij9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__ylkDb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__uZgK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___8Ir45 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column__qXRv6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.img__xCvdk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.img__xCvdk > picture > img {
  object-fit: cover;
}
.img__xCvdk > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__bn2Fg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bhUtI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uoKt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__fMqT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__meIj6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__pgHs9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 8px;
}
.text___0W9Ad {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 0;
}
.freeBox__bXw0S {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__bXw0S > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bXw0S > :global(.__wab_flex-container) > *,
.freeBox__bXw0S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bXw0S > :global(.__wab_flex-container) > picture > img,
.freeBox__bXw0S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__w134B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__w134B {
    align-self: center;
    margin-right: 250px;
    margin-left: calc(0px + 10px) !important;
  }
}
.svg__c9Aiw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__riFkE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column__ypIy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.img__ryjVk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  min-width: 0;
  flex-shrink: 0;
}
.img__ryjVk > picture > img {
  object-fit: cover;
}
.img__ryjVk > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__gTrnP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fxuAi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__fxYdx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.text__q0EhP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.freeBox__ufL8J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__nMcHa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 8px;
}
.text__g4Qqi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 0;
}
.freeBox__c8Uje {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__c8Uje > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__c8Uje > :global(.__wab_flex-container) > *,
.freeBox__c8Uje > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c8Uje > :global(.__wab_flex-container) > picture > img,
.freeBox__c8Uje
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__zd0Xl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  margin-right: 100px;
  height: 1em;
  margin-left: calc(0px + 10px) !important;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zd0Xl {
    margin-right: 250px;
    margin-left: calc(0px + 10px) !important;
  }
}
.svg___4PChm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__zsErZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
