.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__nZtt0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__v2GWe {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__v2GWe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__v2GWe > :global(.__wab_flex-container) > *,
.freeBox__v2GWe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v2GWe > :global(.__wab_flex-container) > picture > img,
.freeBox__v2GWe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v2GWe {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v2GWe > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v2GWe > :global(.__wab_flex-container) > *,
  .freeBox__v2GWe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v2GWe > :global(.__wab_flex-container) > picture > img,
  .freeBox__v2GWe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.freeBox__znUWk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1250px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__znUWk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__znUWk > :global(.__wab_flex-container) > *,
.freeBox__znUWk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__znUWk > :global(.__wab_flex-container) > picture > img,
.freeBox__znUWk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__znUWk {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 1250px;
    align-self: flex-start;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__znUWk > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__znUWk > :global(.__wab_flex-container) > *,
  .freeBox__znUWk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__znUWk > :global(.__wab_flex-container) > picture > img,
  .freeBox__znUWk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 16px;
  }
}
.img__s8Sc7 {
  object-fit: cover;
  height: 50px;
  position: relative;
  width: 160px;
  flex-shrink: 0;
}
.img__s8Sc7 > picture > img {
  object-fit: cover;
}
.img__s8Sc7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 500px;
  margin-right: 0px;
  align-self: center;
  height: auto;
  flex-shrink: 0;
}
.svg__qJk6A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nPpGi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___8Frvy {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___8Frvy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8Frvy > :global(.__wab_flex-container) > *,
.freeBox___8Frvy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Frvy > :global(.__wab_flex-container) > picture > img,
.freeBox___8Frvy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Frvy {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Frvy > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Frvy > :global(.__wab_flex-container) > *,
  .freeBox___8Frvy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8Frvy > :global(.__wab_flex-container) > picture > img,
  .freeBox___8Frvy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.select__kkr9E:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.option__cHf3A:global(.__wab_instance) {
  position: relative;
}
.option__dz69F:global(.__wab_instance) {
  position: relative;
}
.select__n9WY4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__n5Eut:global(.__wab_instance) {
  position: relative;
}
.option__bIk27:global(.__wab_instance) {
  position: relative;
}
.select__xuW9J:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__gqsxB:global(.__wab_instance) {
  position: relative;
}
.option__toafl:global(.__wab_instance) {
  position: relative;
}
.option__gOQ:global(.__wab_instance) {
  position: relative;
}
.option___5BX8N:global(.__wab_instance) {
  position: relative;
}
.option__eDrfs:global(.__wab_instance) {
  position: relative;
}
.option__ludxv:global(.__wab_instance) {
  position: relative;
}
.option__zMcle:global(.__wab_instance) {
  position: relative;
}
.link {
  position: relative;
  text-align: left;
}
.svg__ucy9A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.root
  .svg___hover__notPressed__focusedWithin__focusVisibleWithin__ucy9A5Oa51:hover:not(:active):focus-within {
  outline: none;
}
.svg__wFmA8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__lJg4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.columns__md9RJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 8px 0px;
}
.columns__md9RJ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__md9RJ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__md9RJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__md9RJ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__w27S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__cukse {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-width: 0;
  padding: 8px;
}
.svg__w2Dce {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  align-self: center;
  flex-shrink: 0;
}
.freeBox__fVxwS {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  padding: 8px;
}
.freeBox__fVxwS > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__fVxwS > :global(.__wab_flex-container) > *,
.freeBox__fVxwS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fVxwS > :global(.__wab_flex-container) > picture > img,
.freeBox__fVxwS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___1U3Cn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__lq5Xk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.img__zpZl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 700px;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
}
.img__zpZl > picture > img {
  object-fit: cover;
}
.img__zpZl > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__kFf6Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  min-width: 0;
  border-radius: 15px;
  padding: 0px;
  border-width: 2px;
  border-style: solid;
}
.freeBox__l9Eki {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__lI2N2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.svg__sNIi9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__mhuxX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  min-width: 0;
}
.freeBox__j3Xr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1000px;
  height: 0.25px;
  max-width: 100%;
  background: #bdbaba;
  flex-shrink: 0;
  padding: 0px;
}
.text__h2Nnh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-top: 8px;
  text-align: left;
  align-self: flex-start;
}
.text__yjrE6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  min-width: 0;
}
.freeBox__v1Vzt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1000px;
  height: 0.25px;
  max-width: 100%;
  background: #bdbaba;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__bxwLt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.svg__sNSma {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  align-self: center;
  flex-shrink: 0;
}
.text__j0Dmw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Lato", sans-serif;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.freeBox__ti5Hj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1000px;
  height: 0.25px;
  max-width: 100%;
  background: #bdbaba;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__wisqm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 90px;
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 8px;
  margin: 10px 5px 5px 10px;
  border-width: 1px;
  border-style: solid;
}
.text__iualT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__h0CYk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gTl5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__jT561 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1000px;
  height: 0.25px;
  max-width: 100%;
  background: #bdbaba;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__lv7Wx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__sb5Dn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__uj1I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1000px;
  height: 0.25px;
  max-width: 100%;
  background: #bdbaba;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__jntK7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1000px;
  height: 0.25px;
  max-width: 100%;
  background: #bdbaba;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__lYh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lYh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__lYh > :global(.__wab_flex-container) > *,
.freeBox__lYh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lYh > :global(.__wab_flex-container) > picture > img,
.freeBox__lYh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.img__eLrmd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__eLrmd > picture > img {
  object-fit: cover;
}
.img__eLrmd > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__gdqD1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.columns__lIdyL {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 192px;
  align-self: flex-start;
  padding: 8px;
}
.columns__lIdyL > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__lIdyL > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__lIdyL > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lIdyL {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lIdyL > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qVgnc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__bKFft {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
}
.column__mc7Rm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__fmKhh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
}
.column__rNtqb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.svg__y1FxE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
}
.freeBox___3A2S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1000px;
  height: 0.25px;
  max-width: 100%;
  background: #bdbaba;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__qLrsq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__enX0Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__r2DW5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1000px;
  height: 0.25px;
  max-width: 100%;
  background: #bdbaba;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__cJ6Hm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__z3EFt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__tu9Aj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__qx6Tb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__qZfMi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__son8X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__ujfQw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__yAbfL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__nRir5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__qMcQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__sfgZu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__k0Cnu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__rs1LV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jvY1R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__wjew7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___4PrZl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 25px;
}
.freeBox___4Pivm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__nw9O7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: center;
  min-width: 0;
}
.columns__q9U6 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 5px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.columns__q9U6 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__q9U6 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__q9U6 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q9U6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q9U6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aVzTj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-right-width: 1px;
  border-right-style: solid;
  min-width: 0;
  padding: 12px;
}
.svg___1BHyw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.column__t0YjG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-right-width: 1px;
  border-right-style: solid;
  min-width: 0;
  padding: 12px;
}
.svg__m1Vxr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.column__gYhJx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 12px;
}
.svg__s4EB2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.h1__qtz1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot2 {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  letter-spacing: 0px;
}
.freeBox__mkefS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 35px;
  min-width: 0;
  padding: 8px;
}
.text__j9HIj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.svg__vTf61 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  align-self: center;
  flex-shrink: 0;
}
.text__v55QD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  align-self: auto;
  padding-left: 10px;
  min-width: 0;
}
.freeBox__chmCj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__chmCj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__chmCj > :global(.__wab_flex-container) > *,
.freeBox__chmCj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__chmCj > :global(.__wab_flex-container) > picture > img,
.freeBox__chmCj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__kPbPc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oqeho {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 5px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__uqkjf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.svg__tl9Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  flex-shrink: 0;
}
.text__ge2Kg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  align-self: flex-start;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 0;
  padding: 10px 20px;
}
.freeBox__usswn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: #787373;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.text__df1D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  min-width: 0;
  padding: 10px;
  margin: 0px 0px 0px 20px;
}
.freeBox__jGzs9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 653px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  margin-left: 20px;
  padding: 8px 8px 8px 0px;
}
.h1__juKef {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetPrice {
  font-family: "Lato", sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0px;
}
.freeBox__a0RE {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__a0RE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__a0RE > :global(.__wab_flex-container) > *,
.freeBox__a0RE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a0RE > :global(.__wab_flex-container) > picture > img,
.freeBox__a0RE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__iWAp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  padding: 8px;
}
.freeBox__iWAp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__iWAp > :global(.__wab_flex-container) > *,
.freeBox__iWAp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iWAp > :global(.__wab_flex-container) > picture > img,
.freeBox__iWAp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.buy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  height: 100%;
  align-self: flex-start;
  flex-shrink: 0;
  min-height: 0;
}
.svg__h8RMr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__agb4Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.offer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  align-self: flex-start;
  flex-shrink: 0;
}
.svg__x4WX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dtEzy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__jWrTw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ug3Pj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.text__wr7J6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  min-width: 0;
  border-radius: 5px;
  padding: 0px;
}
.freeBox___8EiOw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3V4Qw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text___8M5P7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 15px;
  min-width: 0;
}
.freeBox__ulrgV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: stretch;
  min-height: 0;
  padding: 8px;
}
.columns__pqsbL {
  display: flex;
  position: relative;
  width: 500px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 50px;
  padding: 8px;
}
.columns__pqsbL > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__pqsbL > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__pqsbL > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pqsbL {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pqsbL > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__g8Iyw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__tvhEn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tvhEn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__tvhEn > :global(.__wab_flex-container) > *,
.freeBox__tvhEn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tvhEn > :global(.__wab_flex-container) > picture > img,
.freeBox__tvhEn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text___19YkS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__axFaX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.column__joKpq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__tekFd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tekFd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__tekFd > :global(.__wab_flex-container) > *,
.freeBox__tekFd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tekFd > :global(.__wab_flex-container) > picture > img,
.freeBox__tekFd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__s5C4I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__asztZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.column__bL64 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ulrLg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ulrLg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__ulrLg > :global(.__wab_flex-container) > *,
.freeBox__ulrLg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ulrLg > :global(.__wab_flex-container) > picture > img,
.freeBox__ulrLg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text___131Ol {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__wf4H4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__wMdpc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__beelg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.text__w4WfR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 15px;
  min-width: 0;
}
.freeBox___8MO1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: stretch;
  min-height: 0;
  padding: 8px;
}
.columns__uITp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__uITp > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__uITp > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uITp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uITp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pGtgV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__sA5K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
