.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__j6ZSc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1250px;
  min-width: 0;
}
.freeBox__j6ZSc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__j6ZSc > :global(.__wab_flex-container) > *,
.freeBox__j6ZSc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j6ZSc > :global(.__wab_flex-container) > picture > img,
.freeBox__j6ZSc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j6ZSc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j6ZSc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j6ZSc > :global(.__wab_flex-container) > *,
  .freeBox__j6ZSc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__j6ZSc > :global(.__wab_flex-container) > picture > img,
  .freeBox__j6ZSc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img {
  object-fit: contain;
  height: 70px;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
.img > .__wab_img-spacer > img {
  object-fit: contain;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 500px;
  margin-right: 0px;
  align-self: center;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.svg__kWAyr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___6Mygt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__sIiXd {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__sIiXd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sIiXd > :global(.__wab_flex-container) > *,
.freeBox__sIiXd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sIiXd > :global(.__wab_flex-container) > picture > img,
.freeBox__sIiXd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sIiXd > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sIiXd > :global(.__wab_flex-container) > *,
  .freeBox__sIiXd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sIiXd > :global(.__wab_flex-container) > picture > img,
  .freeBox__sIiXd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__dfu48 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__dfu48 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__dfu48 > :global(.__wab_flex-container) > *,
.link__dfu48 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__dfu48 > :global(.__wab_flex-container) > picture > img,
.link__dfu48
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uvEq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___2Cc7M {
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__jRr8I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__nb8Dy {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__nb8Dy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__nb8Dy > :global(.__wab_flex-container) > *,
.link__nb8Dy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__nb8Dy > :global(.__wab_flex-container) > picture > img,
.link__nb8Dy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__njefg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ng5X8 {
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.svg__wqM8N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.demo {
  flex-direction: row;
  background: #000000d9;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.demo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.demo > :global(.__wab_flex-container) > *,
.demo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.demo > :global(.__wab_flex-container) > picture > img,
.demo > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__eT5O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__yw0Fc {
  color: #ffffffd9;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__cepLl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
