@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Lato%3Aital%2Cwght%400%2C400%3B0%2C700%3B0%2C900&family=Libre+Baskerville%3Aital%2Cwght%400%2C400%3B0%2C700&family=Bebas+Neue%3Aital%2Cwght%400%2C400&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-83kdqNql5DJQ: #ffffff;
  --plasmic-token-unnamed-style-token: var(--token-83kdqNql5DJQ);
}

.plasmic_default_styles {
  --mixin-3D0dciSLFu31_font-family: "Inter";
  --mixin-3D0dciSLFu31_font-size: 16px;
  --mixin-3D0dciSLFu31_font-weight: 400;
  --mixin-3D0dciSLFu31_font-style: normal;
  --mixin-3D0dciSLFu31_color: #535353;
  --mixin-3D0dciSLFu31_text-align: left;
  --mixin-3D0dciSLFu31_text-transform: none;
  --mixin-3D0dciSLFu31_line-height: 1.5;
  --mixin-3D0dciSLFu31_letter-spacing: normal;
  --mixin-3D0dciSLFu31_white-space: pre-wrap;
  --mixin-3D0dciSLFu31_user-select: text;
  --mixin-3D0dciSLFu31_text-decoration-line: none;
  --mixin-3D0dciSLFu31_text-overflow: clip;
  --mixin-PKfQkZEDCvGL_color: #000000;
  --mixin-PKfQkZEDCvGL_font-weight: 900;
  --mixin-PKfQkZEDCvGL_font-size: 72px;
  --mixin-PKfQkZEDCvGL_line-height: 1;
  --mixin-PKfQkZEDCvGL_letter-spacing: -4px;
  --mixin-89E79F8Irua5_font-family: "Inter";
  --mixin-89E79F8Irua5_color: #000000;
  --mixin-89E79F8Irua5_font-size: 48px;
  --mixin-89E79F8Irua5_font-weight: 700;
  --mixin-89E79F8Irua5_letter-spacing: -1px;
  --mixin-89E79F8Irua5_line-height: 1.1;
  --mixin-vlGcp5xhU86K_color: #0070f3;
  --mixin-wiqogQxDdJmZ_font-family: "Inter";
  --mixin-wiqogQxDdJmZ_color: #000000;
  --mixin-wiqogQxDdJmZ_font-size: 32px;
  --mixin-wiqogQxDdJmZ_font-weight: 600;
  --mixin-wiqogQxDdJmZ_letter-spacing: -0.8px;
  --mixin-wiqogQxDdJmZ_line-height: 1.2;
  --mixin-x9YZEqNEncHH_font-family: "Inter";
  --mixin-x9YZEqNEncHH_color: #000000;
  --mixin-x9YZEqNEncHH_font-size: 24px;
  --mixin-x9YZEqNEncHH_font-weight: 600;
  --mixin-x9YZEqNEncHH_letter-spacing: -0.5px;
  --mixin-x9YZEqNEncHH_line-height: 1.3;
  --mixin-n5kmRID8UEBT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-n5kmRID8UEBT_border-bottom-color: #dddddd;
  --mixin-n5kmRID8UEBT_border-bottom-style: solid;
  --mixin-n5kmRID8UEBT_border-bottom-width: 1px;
  --mixin-n5kmRID8UEBT_border-left-color: #dddddd;
  --mixin-n5kmRID8UEBT_border-left-style: solid;
  --mixin-n5kmRID8UEBT_border-left-width: 1px;
  --mixin-n5kmRID8UEBT_border-right-color: #dddddd;
  --mixin-n5kmRID8UEBT_border-right-style: solid;
  --mixin-n5kmRID8UEBT_border-right-width: 1px;
  --mixin-n5kmRID8UEBT_border-top-color: #dddddd;
  --mixin-n5kmRID8UEBT_border-top-style: solid;
  --mixin-n5kmRID8UEBT_border-top-width: 1px;
  --mixin-n5kmRID8UEBT_border-bottom-left-radius: 3px;
  --mixin-n5kmRID8UEBT_border-bottom-right-radius: 3px;
  --mixin-n5kmRID8UEBT_border-top-left-radius: 3px;
  --mixin-n5kmRID8UEBT_border-top-right-radius: 3px;
  --mixin-n5kmRID8UEBT_font-family: "Inconsolata";
  --mixin-n5kmRID8UEBT_padding-bottom: 1px;
  --mixin-n5kmRID8UEBT_padding-left: 4px;
  --mixin-n5kmRID8UEBT_padding-right: 4px;
  --mixin-n5kmRID8UEBT_padding-top: 1px;
  --mixin-NQbZ4exudee9_border-left-color: #dddddd;
  --mixin-NQbZ4exudee9_border-left-style: solid;
  --mixin-NQbZ4exudee9_border-left-width: 3px;
  --mixin-NQbZ4exudee9_color: #888888;
  --mixin-NQbZ4exudee9_padding-left: 10px;
  --mixin-pRIrGOR2as-h_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pRIrGOR2as-h_border-bottom-color: #dddddd;
  --mixin-pRIrGOR2as-h_border-bottom-style: solid;
  --mixin-pRIrGOR2as-h_border-bottom-width: 1px;
  --mixin-pRIrGOR2as-h_border-left-color: #dddddd;
  --mixin-pRIrGOR2as-h_border-left-style: solid;
  --mixin-pRIrGOR2as-h_border-left-width: 1px;
  --mixin-pRIrGOR2as-h_border-right-color: #dddddd;
  --mixin-pRIrGOR2as-h_border-right-style: solid;
  --mixin-pRIrGOR2as-h_border-right-width: 1px;
  --mixin-pRIrGOR2as-h_border-top-color: #dddddd;
  --mixin-pRIrGOR2as-h_border-top-style: solid;
  --mixin-pRIrGOR2as-h_border-top-width: 1px;
  --mixin-pRIrGOR2as-h_border-bottom-left-radius: 3px;
  --mixin-pRIrGOR2as-h_border-bottom-right-radius: 3px;
  --mixin-pRIrGOR2as-h_border-top-left-radius: 3px;
  --mixin-pRIrGOR2as-h_border-top-right-radius: 3px;
  --mixin-pRIrGOR2as-h_font-family: "Inconsolata";
  --mixin-pRIrGOR2as-h_padding-bottom: 3px;
  --mixin-pRIrGOR2as-h_padding-left: 6px;
  --mixin-pRIrGOR2as-h_padding-right: 6px;
  --mixin-pRIrGOR2as-h_padding-top: 3px;
  --mixin-IPPVvw3gTURE_display: flex;
  --mixin-IPPVvw3gTURE_flex-direction: column;
  --mixin-IPPVvw3gTURE_align-items: stretch;
  --mixin-IPPVvw3gTURE_justify-content: flex-start;
  --mixin-IPPVvw3gTURE_list-style-position: outside;
  --mixin-IPPVvw3gTURE_padding-left: 40px;
  --mixin-IPPVvw3gTURE_position: relative;
  --mixin-IPPVvw3gTURE_list-style-type: disc;
  --mixin-Wp5l26kpFAWY_display: flex;
  --mixin-Wp5l26kpFAWY_flex-direction: column;
  --mixin-Wp5l26kpFAWY_align-items: stretch;
  --mixin-Wp5l26kpFAWY_justify-content: flex-start;
  --mixin-Wp5l26kpFAWY_list-style-position: outside;
  --mixin-Wp5l26kpFAWY_padding-left: 40px;
  --mixin-Wp5l26kpFAWY_position: relative;
  --mixin-Wp5l26kpFAWY_list-style-type: decimal;
  --mixin-Gsk6gKg_lggj_font-family: "Inter";
  --mixin-Gsk6gKg_lggj_color: #000000;
  --mixin-Gsk6gKg_lggj_font-size: 20px;
  --mixin-Gsk6gKg_lggj_font-weight: 600;
  --mixin-Gsk6gKg_lggj_letter-spacing: -0.3px;
  --mixin-Gsk6gKg_lggj_line-height: 1.5;
  --mixin-7nM-PK2jc392_font-family: "Inter";
  --mixin-7nM-PK2jc392_color: #000000;
  --mixin-7nM-PK2jc392_font-size: 16px;
  --mixin-7nM-PK2jc392_font-weight: 600;
  --mixin-7nM-PK2jc392_line-height: 1.5;
  --mixin-MXp8aUbvXC4n_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-3D0dciSLFu31_font-family);
  font-size: var(--mixin-3D0dciSLFu31_font-size);
  font-weight: var(--mixin-3D0dciSLFu31_font-weight);
  font-style: var(--mixin-3D0dciSLFu31_font-style);
  color: var(--mixin-3D0dciSLFu31_color);
  text-align: var(--mixin-3D0dciSLFu31_text-align);
  text-transform: var(--mixin-3D0dciSLFu31_text-transform);
  line-height: var(--mixin-3D0dciSLFu31_line-height);
  letter-spacing: var(--mixin-3D0dciSLFu31_letter-spacing);
  white-space: var(--mixin-3D0dciSLFu31_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-PKfQkZEDCvGL_color);
  font-weight: var(--mixin-PKfQkZEDCvGL_font-weight);
  font-size: var(--mixin-PKfQkZEDCvGL_font-size);
  line-height: var(--mixin-PKfQkZEDCvGL_line-height);
  letter-spacing: var(--mixin-PKfQkZEDCvGL_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-89E79F8Irua5_font-family);
  color: var(--mixin-89E79F8Irua5_color);
  font-size: var(--mixin-89E79F8Irua5_font-size);
  font-weight: var(--mixin-89E79F8Irua5_font-weight);
  letter-spacing: var(--mixin-89E79F8Irua5_letter-spacing);
  line-height: var(--mixin-89E79F8Irua5_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-vlGcp5xhU86K_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-wiqogQxDdJmZ_font-family);
  color: var(--mixin-wiqogQxDdJmZ_color);
  font-size: var(--mixin-wiqogQxDdJmZ_font-size);
  font-weight: var(--mixin-wiqogQxDdJmZ_font-weight);
  letter-spacing: var(--mixin-wiqogQxDdJmZ_letter-spacing);
  line-height: var(--mixin-wiqogQxDdJmZ_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-x9YZEqNEncHH_font-family);
  color: var(--mixin-x9YZEqNEncHH_color);
  font-size: var(--mixin-x9YZEqNEncHH_font-size);
  font-weight: var(--mixin-x9YZEqNEncHH_font-weight);
  letter-spacing: var(--mixin-x9YZEqNEncHH_letter-spacing);
  line-height: var(--mixin-x9YZEqNEncHH_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-n5kmRID8UEBT_background);
  font-family: var(--mixin-n5kmRID8UEBT_font-family);
  border-radius: var(--mixin-n5kmRID8UEBT_border-top-left-radius)
    var(--mixin-n5kmRID8UEBT_border-top-right-radius)
    var(--mixin-n5kmRID8UEBT_border-bottom-right-radius)
    var(--mixin-n5kmRID8UEBT_border-bottom-left-radius);
  padding: var(--mixin-n5kmRID8UEBT_padding-top)
    var(--mixin-n5kmRID8UEBT_padding-right)
    var(--mixin-n5kmRID8UEBT_padding-bottom)
    var(--mixin-n5kmRID8UEBT_padding-left);
  border-top: var(--mixin-n5kmRID8UEBT_border-top-width)
    var(--mixin-n5kmRID8UEBT_border-top-style)
    var(--mixin-n5kmRID8UEBT_border-top-color);
  border-right: var(--mixin-n5kmRID8UEBT_border-right-width)
    var(--mixin-n5kmRID8UEBT_border-right-style)
    var(--mixin-n5kmRID8UEBT_border-right-color);
  border-bottom: var(--mixin-n5kmRID8UEBT_border-bottom-width)
    var(--mixin-n5kmRID8UEBT_border-bottom-style)
    var(--mixin-n5kmRID8UEBT_border-bottom-color);
  border-left: var(--mixin-n5kmRID8UEBT_border-left-width)
    var(--mixin-n5kmRID8UEBT_border-left-style)
    var(--mixin-n5kmRID8UEBT_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-NQbZ4exudee9_color);
  padding-left: var(--mixin-NQbZ4exudee9_padding-left);
  border-left: var(--mixin-NQbZ4exudee9_border-left-width)
    var(--mixin-NQbZ4exudee9_border-left-style)
    var(--mixin-NQbZ4exudee9_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-pRIrGOR2as-h_background);
  font-family: var(--mixin-pRIrGOR2as-h_font-family);
  border-radius: var(--mixin-pRIrGOR2as-h_border-top-left-radius)
    var(--mixin-pRIrGOR2as-h_border-top-right-radius)
    var(--mixin-pRIrGOR2as-h_border-bottom-right-radius)
    var(--mixin-pRIrGOR2as-h_border-bottom-left-radius);
  padding: var(--mixin-pRIrGOR2as-h_padding-top)
    var(--mixin-pRIrGOR2as-h_padding-right)
    var(--mixin-pRIrGOR2as-h_padding-bottom)
    var(--mixin-pRIrGOR2as-h_padding-left);
  border-top: var(--mixin-pRIrGOR2as-h_border-top-width)
    var(--mixin-pRIrGOR2as-h_border-top-style)
    var(--mixin-pRIrGOR2as-h_border-top-color);
  border-right: var(--mixin-pRIrGOR2as-h_border-right-width)
    var(--mixin-pRIrGOR2as-h_border-right-style)
    var(--mixin-pRIrGOR2as-h_border-right-color);
  border-bottom: var(--mixin-pRIrGOR2as-h_border-bottom-width)
    var(--mixin-pRIrGOR2as-h_border-bottom-style)
    var(--mixin-pRIrGOR2as-h_border-bottom-color);
  border-left: var(--mixin-pRIrGOR2as-h_border-left-width)
    var(--mixin-pRIrGOR2as-h_border-left-style)
    var(--mixin-pRIrGOR2as-h_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-IPPVvw3gTURE_display);
  flex-direction: var(--mixin-IPPVvw3gTURE_flex-direction);
  align-items: var(--mixin-IPPVvw3gTURE_align-items);
  justify-content: var(--mixin-IPPVvw3gTURE_justify-content);
  list-style-position: var(--mixin-IPPVvw3gTURE_list-style-position);
  padding-left: var(--mixin-IPPVvw3gTURE_padding-left);
  position: var(--mixin-IPPVvw3gTURE_position);
  list-style-type: var(--mixin-IPPVvw3gTURE_list-style-type);
  flex-column-gap: var(--mixin-IPPVvw3gTURE_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Wp5l26kpFAWY_display);
  flex-direction: var(--mixin-Wp5l26kpFAWY_flex-direction);
  align-items: var(--mixin-Wp5l26kpFAWY_align-items);
  justify-content: var(--mixin-Wp5l26kpFAWY_justify-content);
  list-style-position: var(--mixin-Wp5l26kpFAWY_list-style-position);
  padding-left: var(--mixin-Wp5l26kpFAWY_padding-left);
  position: var(--mixin-Wp5l26kpFAWY_position);
  list-style-type: var(--mixin-Wp5l26kpFAWY_list-style-type);
  flex-column-gap: var(--mixin-Wp5l26kpFAWY_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-Gsk6gKg_lggj_font-family);
  color: var(--mixin-Gsk6gKg_lggj_color);
  font-size: var(--mixin-Gsk6gKg_lggj_font-size);
  font-weight: var(--mixin-Gsk6gKg_lggj_font-weight);
  letter-spacing: var(--mixin-Gsk6gKg_lggj_letter-spacing);
  line-height: var(--mixin-Gsk6gKg_lggj_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-7nM-PK2jc392_font-family);
  color: var(--mixin-7nM-PK2jc392_color);
  font-size: var(--mixin-7nM-PK2jc392_font-size);
  font-weight: var(--mixin-7nM-PK2jc392_font-weight);
  line-height: var(--mixin-7nM-PK2jc392_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-MXp8aUbvXC4n_color);
}
