.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
}
.freeBox___0LXjq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 90vh;
  max-width: 100%;
  background: url("./images/gerdaSXKm4HrYdBmUnsplashjpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px 0px 175px;
}
.freeBox__s9Akk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBox__vJ3Vs {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  min-width: 0;
  padding: 0px 64px 64px;
}
.freeBox__vJ3Vs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vJ3Vs > :global(.__wab_flex-container) > *,
.freeBox__vJ3Vs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vJ3Vs > :global(.__wab_flex-container) > picture > img,
.freeBox__vJ3Vs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vJ3Vs {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    min-width: 0;
    padding: 42px 32px 44px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vJ3Vs > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vJ3Vs > :global(.__wab_flex-container) > *,
  .freeBox__vJ3Vs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vJ3Vs > :global(.__wab_flex-container) > picture > img,
  .freeBox__vJ3Vs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.h1__e4IQt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 53px;
  letter-spacing: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  min-width: 0;
}
.freeBox__d6K3T {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1380px;
  width: 100%;
  min-width: 0;
}
.freeBox__d6K3T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__d6K3T > :global(.__wab_flex-container) > *,
.freeBox__d6K3T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d6K3T > :global(.__wab_flex-container) > picture > img,
.freeBox__d6K3T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d6K3T {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1380px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d6K3T > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d6K3T > :global(.__wab_flex-container) > *,
  .freeBox__d6K3T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d6K3T > :global(.__wab_flex-container) > picture > img,
  .freeBox__d6K3T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.h1__tngC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 0px;
  margin-top: calc(60px + 30px) !important;
  font-size: 60px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  padding-bottom: 0px;
  min-width: 0;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-top: calc(60px + 30px) !important;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    margin-top: calc(60px + 30px) !important;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 50px);
    width: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 50px;
  }
}
.column__f6YzJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px 12px;
}
.svg__szsEv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: #706f6f;
  flex-shrink: 0;
}
.text__hQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
.text__jcTjv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  margin-top: 20px;
  text-align: justify;
  min-width: 0;
}
.column__dgsFh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px 12px;
}
.svg___9Vke6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: #706f6f;
  flex-shrink: 0;
}
.text__muhdk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
  color: #535353;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
.text__eDb87 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  margin-top: 20px;
  text-align: justify;
  padding-top: 0px;
  min-width: 0;
}
.column__qpzPo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px 12px;
}
.svg__pkKXw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: #706f6f;
  flex-shrink: 0;
}
.text__tFx3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
.text__y6Zks {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  margin-top: 20px;
  text-align: justify;
  min-width: 0;
}
.column__hPoL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px 12px;
}
.svg___5QQkg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: #706f6f;
  flex-shrink: 0;
}
.text__a74T4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
.text__hbjL8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  margin-top: 20px;
  text-align: justify;
  padding-bottom: 0px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__q4Lqk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__qcIn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 121px;
  min-width: 0;
  padding: 8px;
}
